
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12"  style="margin-top:30px">
    <h3>Add new product</h3>
    <div class="col-md-6">

    
        <div class="input-group">

            <label>product name</label>
            <input type="text" class="form-control ">

        </div>



        <br />
        <br />


        <div class="input-group">
            <label>product Price</label>
            <input type="text" class="form-control ">

        </div>



        <br />
        <br />


        <div class="input-group">

            <label>product Currency</label>
            <input type="text" class="form-control ">

        </div>



        <br />
        <br />





        <div class="input-group">
            <label>product image url</label>
            <input type="text" class="form-control ">

        </div>
        <br />
        <br />

        <div class="input-group">

            <label>product product url</label>
            <input type="text" class="form-control ">

        </div>
        <br />
        <br />


        <div class="pull-right">
            <button class="btn btn-primary">Add product</button>
        </div>


    </div>
</div>