
<div id="footer" class='movableContent'>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
        <tr>
            <td width="100%" colspan="2" style="padding-top:100px;">
                <hr style="height:1px;border:none;color:#333;background-color:#ddd;" />
            </td>
        </tr>
        <tr>
            <td width="60%" height="70" valign="middle" style="padding-bottom:20px;">
                <div class="contentEditableContainer contentTextEditable">
                    <div class="contentEditable">
                        <span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">Sent to %Customer.FullName% by kibrisorder online supermarket</span>
                        <br />

                        <span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
                            <a target='_blank' href="http://supermarket.kibrisorder.com" style="text-decoration:none;color:#555">Open site on your browser</a>
                        </span>
                        <br>

                        <span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;">
                            <a target='_blank' href="[UNSUBSCRIBE]" style="text-decoration:none;color:#555">Click here to unsubscribe</a>
                        </span>
                    </div>
                </div>

            </td>
            <td width="40%" height="70" align="right" valign="top" align='right' style="padding-bottom:20px;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0" align='right'>
                    <tr>
                        <td width='57%'></td>
                        <td valign="top" width='34'>
                            <div class="contentEditableContainer contentFacebookEditable" style='display:inline;'>
                                <div class="contentEditable">
                                    <a target='_blank' href="https://www.facebook.com/kibrisorder" data-default="placeholder" style="text-decoration:none;">
                                        <img src="http://supermarket.kibrisorder.com/images/automated_emails_images/facebook.png" data-default="placeholder" data-max-width="30" width='30' height='30' alt='facebook' style='margin-right:40x;' data-customIcon="true">
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td valign="top" width='34'>
                            <div class="contentEditableContainer contentTwitterEditable" style='display:inline;'>
                                <div class="contentEditable">
                                    <a target='_blank' href="https://www.twitter.com/kibrisorder" data-default="placeholder" style="text-decoration:none;">
                                        <img src="http://supermarket.kibrisorder.com/images/automated_emails_images/twitter.png" data-default="placeholder" data-max-width="30" width='30' height='30' alt='twitter' style='margin-right:40x;'>
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td valign="top" width='34'>
                            <div class="contentEditableContainer contentImageEditable" style='display:inline;'>
                                <div class="contentEditable">
                                    <a target='_blank' href="https://www.instagram.com/kibrisorder" data-default="placeholder" style="text-decoration:none;">
                                        <img src="http://supermarket.kibrisorder.com/images/automated_emails_images/instagram.png" width="30" height="30" data-max-width="30" alt='Pinterest' style='margin-right:40x;' data-customIcon="true" />
                                    </a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>