
<div id="promo_section" class='movableContent'>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
        <tr><td height='38'></td></tr>
        <tr>
            <td>
                <table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor='#fdf2ff'>
                    <tr><td height='35'></td></tr>
                    <tr>
                        <td>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                    <p style='font-family:Geogia;font-size:15px;color:#97c300;text-align:center;'>From September to October</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr><td height='1'></td></tr>
                    <tr>
                        <td>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                    <p style='font-size:32px;font-family:Georgia;font-style:italic;color:#3C2D2C;text-align:center'>5% off on every order.</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr><td height='1'></td></tr>
                    <tr>
                        <td>
                            <div class="contentEditableContainer contentTextEditable">
                                <div class="contentEditable">
                                    <p style='text-align:center'><a target='_blank' class='link3' style='color:#ffffff;' href="http://supermarket.kibrisorder.com">Let’s go shopping!</a></p>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr><td height='43'></td></tr>
                </table>
            </td>
        </tr>
    </table>
</div>